<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="verification" value="https://dotnet.myget.org/F/aspnet-1-1-0-rtm/api/v3/index.json" />
    <add key="dotnet" value="https://dotnet.myget.org/F/dotnet-web/api/v3/index.json" />
  </packageSources>
</configuration>
